 body {
        background-color: #f8f8f8;

      }
h2,p{
	text-align:left;
}
.book{
	text-align:center;
	margin-top:10px;
}
      .book-library {
        background-color: #ffffff;
		  width:50%;
        
      }
      .author {
        color: #777777;
        
      }

      .price{
		  text-align:center;
		  height:10%;
		  width:90%;
		background-color:#2ecc71;
		text-align:center;
		color:white;
		  padding:5px;

      }